# Calculating a security's risk in Python

In [44]:
## Import the necessary libraries for the project

import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [45]:
tickers = ['KO', 'TSLA', 'AAPL', 'MSFT']
sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2017-1-1')['Adj Close']

In [46]:
sec_data.head()

                   KO       TSLA       AAPL       MSFT
Date
2017-01-03  37.220135  43.397999  27.548414  58.826855
2017-01-04  37.086578  45.397999  27.517582  58.563644
2017-01-05  37.175610  45.349998  27.657520  58.563644
2017-01-06  37.166714  45.801998  27.965857  59.071262
2017-01-09  36.792725  46.256001  28.222006  58.883255

In [47]:
## Calculate daily return for all stocks 

sec_returns= np.log(sec_data/sec_data.shift(1))
sec_returns

                  KO      TSLA      AAPL      MSFT
Date
2017-01-03       NaN       NaN       NaN       NaN
2017-01-04 -0.003595  0.045055 -0.001120 -0.004484
2017-01-05  0.002398 -0.001058  0.005073  0.000000
2017-01-06 -0.000239  0.009918  0.011087  0.008630
2017-01-09 -0.010113  0.009863  0.009118 -0.003188
...              ...       ...       ...       ...
2020-08-31 -0.006039  0.118395  0.033350 -0.014876
2020-09-01 -0.008312 -0.047822  0.039060  0.007686
2020-09-02  0.041278 -0.060034 -0.020936  0.019089
2020-09-03 -0.013967 -0.094573 -0.083448 -0.063949
2020-09-04  0.011032  0.027434  0.000662 -0.014135

[926 rows x 4 columns]

In [48]:
## Calculate the average daily return for all stocks "tickers"
sec_returns[tickers].mean()

KO      0.000341
TSLA    0.002450
AAPL    0.001599
MSFT    0.001397
dtype: float64

In [49]:
## Calculate the annual return for all stocks "tickers"
sec_returns[tickers].mean() *250

KO      0.085340
TSLA    0.612387
AAPL    0.399869
MSFT    0.349337
dtype: float64

In [50]:
## Calculate the daily standard deviation for all stocks "tickers"
sec_returns[tickers].std()

KO      0.013427
TSLA    0.037773
AAPL    0.019599
MSFT    0.018213
dtype: float64

In [51]:
## Calculate the annual standard deviation for all stocks "tickers"
sec_returns[tickers].std() * np.sqrt(250)

KO      0.212300
TSLA    0.597245
AAPL    0.309888
MSFT    0.287973
dtype: float64

## Calculating Covariance and Correlation

In [52]:
sec_returns[tickers].var()

KO      0.000180
TSLA    0.001427
AAPL    0.000384
MSFT    0.000332
dtype: float64

In [53]:
covariance_matrix= sec_returns.cov()
covariance_matrix

            KO      TSLA      AAPL      MSFT
KO    0.000180  0.000114  0.000111  0.000120
TSLA  0.000114  0.001427  0.000298  0.000297
AAPL  0.000111  0.000298  0.000384  0.000267
MSFT  0.000120  0.000297  0.000267  0.000332

In [54]:
correlation_matrix = sec_returns.corr()
correlation_matrix

            KO      TSLA      AAPL      MSFT
KO    1.000000  0.225470  0.423436  0.490003
TSLA  0.225470  1.000000  0.402277  0.431499
AAPL  0.423436  0.402277  1.000000  0.747546
MSFT  0.490003  0.431499  0.747546  1.000000

## Calculating Portfolio Risk

In [55]:
# First, we need to assign weights to all stocks in our portfolio
weights = np.array([0.25, 0.25, 0.25, 0.25])

## Portfolio Variance

In [56]:
portfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
portfolio_var

0.07401825048444007

In [70]:
print(str(round(portfolio_var, 3)* 100) +'%')

7.3999999999999995%

## Portfolio Volatility

In [58]:
portfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights)) **0.5
portfolio_vol

0.2720629531642264

In [59]:
print(str(round(portfolio_vol, 4) *100) + '%')

27.21%

## Calculating Diversifiable and Non-diversifiable risk of a portfolio

In [60]:
weights

array([0.25, 0.25, 0.25, 0.25])

In [61]:
variance_all_stocks=sec_returns[tickers].var() *250
variance_all_stocks

KO      0.045071
TSLA    0.356701
AAPL    0.096031
MSFT    0.082928
dtype: float64

In [62]:
## Diversifiable Risk = portfolio variance - weighted annual variance
diversifiable_risk= portfolio_var - (weights[0] **2 * variance_all_stocks[0]) - (weights[1] **2 * variance_all_stocks[1]) -(weights[2] **2 * variance_all_stocks[2]) - (weights[3] **2 * variance_all_stocks[3])

In [63]:
diversifiable_risk

0.037722531174419975

In [67]:
print(str(round(diversifiable_risk, 3) *100) +'%')

3.8%

## Non-diversifiable risk

In [65]:
non_risk =portfolio_var - diversifiable_risk
non_risk

0.03629571931002009

In [71]:
print(str(round(non_risk, 4) *100) +'%')

3.63%